[submodule "Bhadada_Anu"]
	path = Bhadada_Anu
	url = https://github.com/anubhadada/Bhadada_Anu
[submodule "barrington_andrew"]
	path = barrington_andrew
	url = https://github.com/andrewsbarrington/barrington_andrew
[submodule "Atiya_Jude"]
	path = Atiya_Jude
	url = https://github.com/judeatiya/Atiya_Jude
[submodule "Camp_Karina"]
	path = Camp_Karina
	url = https://github.com/campkarina/Camp_Karina
[submodule "Cho-Seong"]
	path = Cho-Seong
	url = https://github.com/tjdrms2023/Cho-Seong
[submodule "Cooper_Geffen"]
	path = Cooper_Geffen
	url = https://github.com/geffencooper/Cooper_Geffen
[submodule "Gelman_Isaac"]
	path = Gelman_Isaac
	url = https://github.com/IsaacGelman/Gelman_Isaac
[submodule "Gong_Vince"]
	path = Gong_Vince
	url = https://github.com/vincegong67/Gong_Vince
[submodule "Ha_Mikey"]
	path = Ha_Mikey
	url = https://github.com/HeonjinHa/Ha_Mikey
[submodule "Harris-Quanquin_Yves"]
	path = Harris-Quanquin_Yves
	url = https://github.com/yvesharris1/Harris-Quanquin_Yves
[submodule "Heidt_Ricky"]
	path = Heidt_Ricky
	url = https://github.com/rickyheidt/Heidt_Ricky
[submodule "Hsu_John"]
	path = Hsu_John
	url = https://github.com/hsuj6917/Hsu_John
[submodule "HU_KEVIN"]
	path = HU_KEVIN
	url = https://github.com/Nivekuh/HU_KEVIN
[submodule "Jiang_Brittany"]
	path = Jiang_Brittany
	url = https://github.com/btjiang/Jiang_Brittany
[submodule "Kim_Simon"]
	path = Kim_Simon
	url = https://github.com/simonk7719/Kim_Simon
[submodule "Kong_Robin"]
	path = Kong_Robin
	url = https://github.com/kobinrong/Kong_Robin
[submodule "Kurosu_YuJay"]
	path = Kurosu_YuJay
	url = https://github.com/yjkurosu/Kurosu_YuJay
[submodule "Li_Jacalyn"]
	path = Li_Jacalyn
	url = https://github.com/jacalynli/Li_Jacalyn
[submodule "Liu_Peter"]
	path = Liu_Peter
	url = https://github.com/potor10/Liu_Peter
[submodule "Lo_Alvin"]
	path = Lo_Alvin
	url = https://github.com/AlvinnLo/Lo_Alvin
[submodule "Mann_Ben"]
	path = Mann_Ben
	url = https://github.com/mannb7803/Mann_Ben
[submodule "Marks_Benjamin"]
	path = Marks_Benjamin
	url = https://github.com/benmarks725/Marks_Benjamin
[submodule "MYRON_EITAN"]
	path = MYRON_EITAN
	url = https://github.com/E70M/MYRON_EITAN
[submodule "OConnell_Seamus"]
	path = OConnell_Seamus
	url = https://github.com/SeamusFionn/OConnell_Seamus
[submodule "Poh_Sydny"]
	path = Poh_Sydny
	url = https://github.com/sydnypoh/Poh_Sydny
[submodule "RIVETTI_ISABELLA"]
	path = RIVETTI_ISABELLA
	url = https://github.com/Bellarivetti/RIVETTI_ISABELLA
[submodule "Schmidt_Dominik"]
	path = Schmidt_Dominik
	url = https://github.com/DominikSchmidtqq/Schmidt_Dominik
[submodule "SULLIVAN_JOSEPH"]
	path = SULLIVAN_JOSEPH
	url = https://github.com/joeysullivann/SULLIVAN_JOSEPH
[submodule "Wallace_Nick"]
	path = Wallace_Nick
	url = https://github.com/NickW12/Wallace_Nick
[submodule "wang_kathy"]
	path = wang_kathy
	url = https://github.com/wangk2324/wang_kathy
[submodule "Yallapragada_Shyama"]
	path = Yallapragada_Shyama
	url = https://github.com/shyamay/Yallapragada_Shyama
[submodule "Yoon_Harim"]
	path = Yoon_Harim
	url = https://github.com/yoonh5664/Yoon_Harim
[submodule "YU_TONY"]
	path = YU_TONY
	url = https://github.com/treter32/YU_TONY
[submodule "Lange_Julian"]
	path = Lange_Julian
	url = https://github.com/Uwouw/Lange_Julian
[submodule "Lewis_Mitchell"]
	path = Lewis_Mitchell
	url = https://github.com/Mitchell57/Lewis_Mitchell
[submodule "Kuo_Jonathan"]
	path = Kuo_Jonathan
	url = https://github.com/jonathan-kuo11/Kuo_Jonathan
